.gameArea{
    width: 800px;
    background: #2e2f2f;
    border: solid 1px black;
    margin: 0 auto;
}

.life{
    background-color: azure;
    font: 16pt sans-serif;
    font-weight: bold;
}


.life.p1{
    color: red;
    position: relative;
    left: 200px;
}

.life.p2{
    color: blue;
    position: relative;
    left: 300px;
}

.button{
    border: aliceblue medium;
    background-color: azure;
    cursor: pointer;
    text-align: center;
}